@charset "UTF-8";

/* 소개 영역 */

.aboutWrap {
  background-color: #f5f5f5;
}

.aboutWrap :global(#subWrap) {
  padding: 0;
}

/* 소개페이지 상단 텍스트 */

:global(#wrap).aboutWrap :global(.topTitleBox) :global(.topText01) {
  color: #fff;
}

/* 헤더 */

.aboutWrap :global(#headerWrap) nav ul li h2 a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

/* 상단 영역 */

.aboutWrap :global(.subTopBox) {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding: 0 0 40px;
  display: flex;
  align-items: flex-end;
  height: 800px;
  overflow: hidden;
  background: url('/images/sub/about_img.jpg') no-repeat center / cover;
}

.aboutWrap :global(.subTopBox)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('/images/sub/about_img.jpg') no-repeat center / cover;
  transform: scale(1.7);
  transition: transform 5s ease;
  will-change: transform;
}

.aboutWrap :global(.subTopBox.active)::after {
  transform: scale(1);
}

/* 상단 타이틀 로드 모션 */

.aboutWrap :global(.subTopBox) :global(.topTitleBox) h2,
.aboutWrap :global(.subTopBox) :global(.topTitleBox) :global(.topText01),
.aboutWrap :global(.subTopBox) :global(.topTitleBox) :global(.topText02) {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: opacity 1.7s ease, transform 1.7s ease;
  will-change: opacity, transform;
}

.aboutWrap :global(.subTopBox) :global(.topTitleBox) :global(.topText01) {
  transition-delay: .12s;
}

.aboutWrap :global(.subTopBox) :global(.topTitleBox) :global(.topText02) {
  transition-delay: .24s;
}

.aboutWrap :global(.subTopBox.active) :global(.topTitleBox) h2,
.aboutWrap :global(.subTopBox.active) :global(.topTitleBox) :global(.topText01),
.aboutWrap :global(.subTopBox.active) :global(.topTitleBox) :global(.topText02) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* 서브 콘텐츠 영역 */

.aboutWrap :global(.subContentBox) {
  position: relative;
  z-index: 2;
  padding: 160px 0 120px;
  background-color: #f5f5f5;
}

.aboutWrap :global(.titleBox) {
  margin-bottom: 4.17vw;
}

.aboutWrap :global(.infoTextBox) {
  margin-left: 4.17vw;
}

/* 비전 및 미션 영역 */

.aboutWrap .aboutVisionBox {
  margin: 0 0 6.25vw 0;
}

.aboutWrap .aboutMissionBox {
  margin: 0 0 6.25vw 12.5vw;
}

.aboutWrap .aboutFutureBox {
  margin: 0 0 6.25vw 25vw;
}

.aboutWrap .aboutJourneyBox {
  margin: 0 0 6.25vw 37.5vw;
}

/* 여정 목록 영역 */

.aboutWrap .aboutJourneyList>li {
  border-bottom: 1px dashed #555;
}

.aboutWrap .aboutJourneyList li a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 26px 20px 26px 40px;
  transition: all .3s;
}

.aboutWrap .aboutJourneyList li a .aboutJourneyYear {
  flex-shrink: 0;
  margin-right: 60px;
  color: #222;
  font-weight: 500;
  font-size: 40px;
  font-family: 'HelveticaNowDisplay';
}

.aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
  max-width: 650px;
  width: 100%;
  color: #222;
  font-weight: 500;
  font-size: 40px;
  font-family: 'HelveticaNowDisplay';
}

.aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li {
  display: flex;
  margin-bottom: 5px;
  color: #222;
}

.aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li::before {
  content: '';
  flex-shrink: 0;
  margin: 9px 5px 0;
  width: 3px;
  height: 3px;
  background-color: #222;
  border-radius: 50%;
}

.aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 480px;
  z-index: 9;
  transform: translateY(-50%);
  transition: all .3s;
}

.aboutWrap .aboutJourneyList li a:hover .aboutJourneyHoverImgBox {
  opacity: 1;
  visibility: visible;
}

.aboutWrap .aboutJourneyList li a:hover .aboutJourneyHoverImgBox img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 채널 영역 */

.aboutWrap .channelBox {
  display: flex;
  gap: 80px 114px;
  padding: 200px 0 0;
}

.aboutWrap .channelBox .channelTitleBox {
  position: sticky;
  top: 150px;
  height: 100%;
}

.aboutWrap .channelBox .channelList li {
  width: 360px;
  margin-bottom: 80px;
}

.aboutWrap .channelBox .channelList li:last-child {
  margin-bottom: 0;
}

.aboutWrap .channelBox .channelList li a {
  display: block;
  padding: 24px 20px 20px 24px;
  background-color: #fff;
}

.aboutWrap .channelBox .channelList li a img {
  display: block;
  margin-bottom: 56px;
}

.aboutWrap .channelBox .channelList li a p {
  margin-bottom: 12px;
  color: #000;
}

.aboutWrap .channelBox .channelList li a span {
  display: block;
  color: #b4b4b4;
  font-weight: 600;
  font-size: 13px;
}

/* 짝수 카드 위치 */

.aboutWrap .channelBox .channelList li:nth-child(2n) a {
  transform: translateX(240px);
}

/* 호버 */

.aboutWrap .aboutJourneyList li a:hover {
  background-color: #222;
}

.aboutWrap .aboutJourneyList li a:hover .aboutJourneyYear,
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyTitle,
.aboutWrap .aboutJourneyList li a:hover .aboutJourneyDetailList li {
  color: #fff;
}

.aboutWrap .aboutJourneyList li a:hover .aboutJourneyDetailList li::before {
  background-color: #fff;
}

@media (max-width:1199px) {

  .aboutWrap :global(.subTopBox) {
    height: 700px;
  }

  .aboutWrap :global(.subContentBox) {
    padding: 120px 0;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 5vw;
  }

  .aboutWrap :global(.infoTextBox) {
    flex-direction: column;
    gap: 20px 0;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 8vw 0;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 8vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 8vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 8vw 37.5vw;
  }

  .aboutWrap .aboutJourneyList li a {
    padding: 20px 12px;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
    font-size: 26px;
  }

  .aboutWrap .channelBox {
    flex-direction: column;
    padding: 80px 0 0;
  }

  .aboutWrap .channelBox .channelTitleBox {
    position: static;
    top: auto;
    height: auto;
  }

  .aboutWrap .channelBox .channelList li {
    width: 100%;
    margin-bottom: 20px;
  }

  .aboutWrap .channelBox .channelList li a {
    padding: 20px;
  }

  .aboutWrap .channelBox .channelList li:nth-child(2n) a {
    transform: none;
  }

}

@media (max-width:1024px) {

  .aboutWrap :global(.subTopBox) {
    height: 500px;
  }

  .aboutWrap .aboutJourneyList li a {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
    max-width: none;
    width: auto;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear {
    margin-right: 0;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList {
    margin-top: 20px;
    width: 100%;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox {
    right: 20px;
    left: auto;
  }

}

@media (max-width:768px) {

  .aboutWrap :global(.subContentBox) {
    padding: 80px 0;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 7vw;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 11vw 0;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 11vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 11vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 11vw 37.5vw;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
    font-size: 22px;
  }

}

@media (max-width:480px) {

  .aboutWrap :global(.subContentBox) {
    padding: 60px 0;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
    font-size: 20px;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox {
    max-width: 200px;
    height: 110px;
  }

  .aboutWrap .channelBox .channelList li a img {
    width: 32px;
    margin-bottom: 20px;
  }

  .aboutWrap .channelBox .channelList li a p {
    font-size: 14px;
  }

}

@media (max-width:360px) {

  .aboutWrap :global(.subTopBox) {
    padding: 0 0 16px;
    height: 360px;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 11vw;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 16.6vw 0;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 16.6vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 16.6vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 16.6vw 37.5vw;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li {
    font-size: 12px;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyYear,
  .aboutWrap .aboutJourneyList li a .aboutJourneyTitle {
    font-size: 18px;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyDetailList li::before {
    width: 2px;
    height: 2px;
    margin: 7px 5px 0;
  }

  .aboutWrap .aboutJourneyList li a .aboutJourneyHoverImgBox {
    max-width: 160px;
    height: 90px;
  }

  .aboutWrap .channelBox .channelList li a p {
    font-size: 12px;
  }

  .aboutWrap .channelBox .channelList li a span {
    font-size: 10px;
  }

}