@charset "UTF-8";

/* 소개 영역 */

.aboutWrap {
  background-color: #f5f5f5;
}

.aboutWrap :global(#subWrap) {
  padding: 0;
}

/* 소개페이지 상단 텍스트 */

.aboutWrap
:global(.topTitleBox)
:global(.topText01) {
  color: #fff;
}

/* 헤더 */

:global(#wrap).aboutWrap :global(#headerWrap) nav ul li h2 a {
  color: #fff;
}

/* 상단 텍스트 */

:global(#wrap).aboutWrap :global(.topTitleBox) :global(.topText01),
:global(#wrap).aboutWrap :global(.topTitleBox) :global(.topText02) {
  color: #fff;
}

:global(#wrap).aboutWrap :global(.topTitleBox) :global(.topText02) span {
  font-weight: 300;
}

/* 상단 영역 */

.aboutWrap :global(.subTopBox) {
  position: relative;
  margin-bottom: 0;
  padding: 0 0 40px;
  display: flex;
  align-items: flex-end;
  height: 800px;
  overflow: hidden;
  background:
    url('/images/sub/about_img.jpg')
    no-repeat center / cover;
  z-index: 1;
}

.aboutWrap
:global(.subTopBox)::after {
  content: '';
  position: absolute;
  inset: 0;
  background:
    url('/images/sub/about_img.jpg')
    no-repeat center / cover;
  transform: scale(1.7);
  transition: all 5s;
  will-change: transform;
  z-index: -1;
}

.aboutWrap
:global(.subTopBox.active)::after {
  transform: scale(1);
}

/* 상단 타이틀 로드 모션 */

.aboutWrap
:global(.subTopBox)
:global(.topTitleBox) h2,
.aboutWrap
:global(.subTopBox)
:global(.topTitleBox)
:global(.topText01),
.aboutWrap
:global(.subTopBox)
:global(.topTitleBox)
:global(.topText02) {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition:
    opacity 1.7s ease,
    transform 1.7s ease;
  will-change: opacity, transform;
}

.aboutWrap
:global(.subTopBox)
:global(.topTitleBox)
:global(.topText01) {
  transition-delay: .12s;
}

.aboutWrap
:global(.subTopBox)
:global(.topTitleBox)
:global(.topText02) {
  transition-delay: .24s;
}

.aboutWrap
:global(.subTopBox.active)
:global(.topTitleBox) h2,
.aboutWrap
:global(.subTopBox.active)
:global(.topTitleBox)
:global(.topText01),
.aboutWrap
:global(.subTopBox.active)
:global(.topTitleBox)
:global(.topText02) {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* 서브 콘텐츠 영역 */

.aboutWrap :global(.subContentBox) {
  position: relative;
  padding: 160px 0 120px;
  background-color: #f5f5f5;
  z-index: 2;
}

.aboutWrap :global(.titleBox) {
  margin-bottom: 4.17vw;
}

.aboutWrap :global(.infoTextBox) {
  margin-left: 4.17vw;
}

/* 비전 및 미션 영역 */

.aboutWrap .aboutVisionBox {
  margin: 0 0 6.25vw;
}

.aboutWrap .aboutMissionBox {
  margin: 0 0 6.25vw 12.5vw;
}

.aboutWrap .aboutFutureBox {
  margin: 0 0 6.25vw 25vw;
}

.aboutWrap .aboutJourneyBox {
  margin: 0 0 6.25vw 37.5vw;
}

/* 여정 목록 영역 */

.aboutWrap
.aboutJourneyList > li {
  border-bottom: 1px dashed #555;
}

.aboutWrap
.aboutJourneyLink {
  position: relative;
  padding: 26px 20px 26px 40px;
  display: flex;
  align-items: center;
  transition: all .3s;
}

.aboutWrap
.aboutJourneyYear {
  flex-shrink: 0;
  margin-right: 60px;
  color: #222;
  font-size: 40px;
  font-weight: 500;
  font-family: 'HelveticaNowDisplay';
}

.aboutWrap
.aboutJourneyTitle {
  max-width: 650px;
  width: 100%;
  color: #222;
  font-size: 40px;
  font-weight: 500;
  font-family: 'HelveticaNowDisplay';
}

.aboutWrap
.aboutJourneyDetailItem {
  display: flex;
  margin-bottom: 5px;
  color: #222;
}

.aboutWrap
.aboutJourneyDetailItem::before {
  content: '';
  flex-shrink: 0;
  margin: 9px 5px 0;
  width: 3px;
  height: 3px;
  background-color: #222;
  border-radius: 50%;
}

.aboutWrap
.aboutJourneyHoverImgBox {
  position: absolute;
  top: 0;
  left: 480px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  transition: all .3s;
  z-index: 9;
}

.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyHoverImgBox {
  opacity: 1;
  visibility: visible;
}

.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyHoverImgBox img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 채널 영역 */

.aboutWrap .channelBox {
  padding: 200px 0 0;
  display: flex;
  align-items: flex-start;
  gap: 80px 114px;
}

.aboutWrap .channelTitleBox {
  position: sticky;
  top: 150px;
  align-self: flex-start;
  height: auto;
}

.aboutWrap
.channelList li {
  width: 360px;
  margin-bottom: 80px;
}

.aboutWrap
.channelList li:last-child {
  margin-bottom: 0;
}

.aboutWrap
.channelList li a {
  display: block;
  padding: 24px 20px 20px 24px;
  background-color: #fff;
}

.aboutWrap
.channelList li a img {
  display: block;
  margin-bottom: 56px;
}

.aboutWrap
.channelList li a p {
  margin-bottom: 12px;
  color: #000;
}

.aboutWrap
.channelList li a span {
  display: block;
  color: #b4b4b4;
  font-size: 13px;
  font-weight: 600;
}

/* 짝수 카드 위치 */

.aboutWrap
.channelList li:nth-child(2n) {
  transform: translateX(240px);
}

/* 호버 */

.aboutWrap
.aboutJourneyLink:hover {
  background-color: #222;
}

.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyYear,
.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyTitle,
.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyDetailItem {
  color: #fff;
}

.aboutWrap
.aboutJourneyLink:hover
.aboutJourneyDetailItem::before {
  background-color: #fff;
}

@media (max-width:1199px) {
  .aboutWrap :global(.subTopBox) {
    height: 700px;
  }

  .aboutWrap :global(.subContentBox) {
    padding: 120px 0;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 5vw;
  }

  .aboutWrap :global(.infoTextBox) {
    flex-direction: column;
    gap: 20px 0;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 8vw;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 8vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 8vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 8vw 37.5vw;
  }

  .aboutWrap .aboutJourneyLink {
    padding: 20px 12px;
  }

  .aboutWrap .aboutJourneyYear,
  .aboutWrap .aboutJourneyTitle {
    font-size: 26px;
  }

  .aboutWrap .channelBox {
    padding: 80px 0 0;
    flex-direction: column;
    align-items: initial;
  }

  .aboutWrap .channelTitleBox {
    position: static;
    top: auto;
    align-self: auto;
    height: auto;
  }

  .aboutWrap
  .channelList li {
    width: 100%;
    margin-bottom: 20px;
  }

  .aboutWrap
  .channelList li a {
    padding: 20px;
  }

  .aboutWrap
  .channelList li:nth-child(2n) {
    transform: none;
  }
}

@media (max-width:1024px) {
  .aboutWrap :global(.subTopBox) {
    height: 500px;
  }

  .aboutWrap .aboutJourneyLink {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .aboutWrap .aboutJourneyTitle {
    max-width: none;
    width: auto;
  }

  .aboutWrap .aboutJourneyYear {
    margin-right: 0;
  }

  .aboutWrap .aboutJourneyDetailList {
    margin-top: 20px;
    width: 100%;
  }

  .aboutWrap
  .aboutJourneyHoverImgBox {
    right: 20px;
    left: auto;
  }
}

@media (max-width:768px) {
  .aboutWrap :global(.subContentBox) {
    padding: 80px 0;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 7vw;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 11vw;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 11vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 11vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 11vw 37.5vw;
  }

  .aboutWrap .aboutJourneyYear,
  .aboutWrap .aboutJourneyTitle {
    font-size: 22px;
  }
}

@media (max-width:480px) {
  .aboutWrap :global(.subContentBox) {
    padding: 60px 0;
  }

  .aboutWrap .aboutJourneyYear,
  .aboutWrap .aboutJourneyTitle {
    font-size: 20px;
  }

  .aboutWrap
  .aboutJourneyHoverImgBox {
    max-width: 200px;
    height: 110px;
  }

  .aboutWrap
  .channelList li a img {
    width: 32px;
    margin-bottom: 20px;
  }

  .aboutWrap
  .channelList li a p {
    font-size: 14px;
  }
}

@media (max-width:360px) {
  .aboutWrap :global(.subTopBox) {
    padding: 0 0 16px;
    height: 360px;
  }

  .aboutWrap :global(.titleBox) {
    margin-bottom: 11vw;
  }

  .aboutWrap .aboutVisionBox {
    margin: 0 0 16.6vw;
  }

  .aboutWrap .aboutMissionBox {
    margin: 0 0 16.6vw 12.5vw;
  }

  .aboutWrap .aboutFutureBox {
    margin: 0 0 16.6vw 25vw;
  }

  .aboutWrap .aboutJourneyBox {
    margin: 0 0 16.6vw 37.5vw;
  }

  .aboutWrap
  .aboutJourneyDetailItem {
    font-size: 12px;
  }

  .aboutWrap .aboutJourneyYear,
  .aboutWrap .aboutJourneyTitle {
    font-size: 18px;
  }

  .aboutWrap
  .aboutJourneyDetailItem::before {
    margin: 7px 5px 0;
    width: 2px;
    height: 2px;
  }

  .aboutWrap
  .aboutJourneyHoverImgBox {
    max-width: 160px;
    height: 90px;
  }

  .aboutWrap
  .channelList li a p {
    font-size: 12px;
  }

  .aboutWrap
  .channelList li a span {
    font-size: 10px;
  }
}