@charset "UTF-8";

/* 뉴스 영역 */

.newsWrap {
  background-color: #f5f5f5;
}

.newsWrap .newsTabBox {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 20px;
}

.newsWrap .newsTabBox .newsTabBtn {
  padding: 6px 20px;
  color: #222;
  font-weight: 600;
  border: 1px solid #222;
  border-radius: 50px;
  transition: all .3s;
}

.newsWrap .newsList {
  margin-bottom: 120px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  border-top: 1px solid #555;
}

.newsWrap .newsList li a {
  position: relative;
  display: block;
  padding: 24px;
  background-color: #fff;
  border: 3px solid transparent;
  transition: all .3s;
}

.newsWrap .newsList li a .newsTopBox {
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.newsWrap .newsList li a .newsTopBox .newsCategory {
  display: inline-block;
  padding: 3px 12px;
  color: #222;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #222;
  border-radius: 50px;
}

.newsWrap .newsList li a .newsTopBox .newsDate {
  color: #b4b4b4;
  font-size: 13px;
  font-weight: 600;
}

.newsWrap .newsList li a .newsTitle {
  min-height: 60px;
  margin-bottom: 80px;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  transition: all .3s;
}

.newsWrap .newsList li a .newsImgBox img {
  display: block;
  width: 100%;
}

.newsWrap .newsLoadMoreBtn {
  display: block;
  margin: 0 auto;
  color: #b4b4b4;
  font-size: 40px;
  font-weight: 500;
  font-family: 'HelveticaNowDisplay';
}

/* 뉴스 상세 영역 */

.newsWrap .newsViewBox .newsViewHeaderBox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.newsWrap .newsViewBox .newsViewHeaderBox .newsViewBackLink {
  color: #b4b4b4;
  font-size: 20px;
  font-weight: 600;
}

.newsWrap .newsViewBox .newsViewHeaderBox .newsViewCategory {
  padding: 5px 20px;
  color: #222;
  font-weight: 600;
  border: 1px solid #222;
  border-radius: 50px;
}

.newsWrap .newsViewBox .newsViewHeaderBox .newsViewDate {
  color: #222;
  font-weight: 600;
}

.newsWrap .newsViewBox .newsViewTitle {
  margin-bottom: 40px;
  color: #222;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.newsWrap .newsViewBox .newsViewContentBox {
  margin-bottom: 85px;
}

.newsWrap .newsViewBox .newsViewContentBox :global(.container) {
  max-width: 720px;
  padding: 0;
}

.newsWrap .newsViewBox .newsViewContentBox .newsViewSubTitle {
  color: #222;
  font-size: 20px;
  font-weight: 600;
}

.newsWrap .newsViewBox .newsViewContentBox .newsViewImgBox img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}

.newsWrap .newsViewBox .newsViewContentBox .newsViewText {
  margin: 20px auto;
  color: #222;
}

.newsWrap .newsViewBox .newsViewNavBox {
  padding: 40px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #555;
}

.newsWrap .newsViewBox .newsViewNavBox .newsViewNavLabel {
  display: block;
  margin-bottom: 10px;
  color: #222;
  font-weight: 600;
}

.newsWrap .newsViewBox .newsViewNavBox .newsViewNavTitle {
  color: #222;
  font-size: 20px;
  font-weight: 600;
}

.newsWrap .newsViewBox .newsViewNavBox .newsViewListLink {
  color: #b4b4b4;
  font-size: 40px;
  font-weight: 500;
  font-family: 'HelveticaNowDisplay';
}

/* 활성화 및 호버 */

.newsWrap .newsTabBox .newsTabBtn.active,
.newsWrap .newsTabBox .newsTabBtn:hover {
  color: #fff;
  background-color: #fd3d32;
  border-color: #fd3d32;
}

.newsWrap .newsList li a:hover {
  border-color: #fd3d32;
}

.newsWrap .newsList li a:hover .newsTitle {
  color: #fd3d32;
}

@media (max-width:1199px) {

  .newsWrap .newsList {
    gap: 30px;
  }

  .newsWrap .newsViewBox .newsViewHeaderBox .newsViewBackLink {
    font-size: 18px;
  }

  .newsWrap .newsViewBox .newsViewTitle {
    font-size: 28px;
  }

  .newsWrap .newsViewBox .newsViewContentBox .newsViewSubTitle {
    font-size: 18px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewListLink {
    font-size: 30px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewNavTitle {
    font-size: 18px;
  }

}

@media (max-width:1024px) {

  .newsWrap .newsList {
    margin-bottom: 60px;
    padding-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .newsWrap .newsLoadMoreBtn {
    font-size: 26px;
  }

  .newsWrap .newsViewBox .newsViewNavBox {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 0;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewListLink {
    margin-top: 24px;
    order: 1;
    align-self: flex-end;
  }

}

@media (max-width:768px) {

  .newsWrap .newsList {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .newsWrap .newsList li a .newsTopBox {
    margin-bottom: 30px;
  }

  .newsWrap .newsList li a .newsTitle {
    min-height: auto;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .newsWrap .newsViewBox .newsViewContentBox {
    margin-bottom: 55px;
  }

  .newsWrap .newsViewBox .newsViewHeaderBox .newsViewBackLink {
    font-size: 16px;
  }

  .newsWrap .newsViewBox .newsViewTitle {
    font-size: 26px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewNavLabel {
    margin-bottom: 4px;
  }

}

@media (max-width:480px) {

  .newsWrap .newsViewBox .newsViewTitle {
    margin-bottom: 34px;
    font-size: 22px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewListLink {
    font-size: 26px;
  }

}

@media (max-width:360px) {

  .newsWrap .newsTabBox {
    margin-bottom: 20px;
    gap: 8px;
  }

  .newsWrap .newsList {
    padding-top: 20px;
  }

  .newsWrap .newsTabBox .newsTabBtn {
    font-size: 12px;
  }

  .newsWrap .newsList li a {
    padding: 16px;
  }

  .newsWrap .newsList li a .newsTopBox .newsDate,
  .newsWrap .newsList li a .newsTopBox .newsCategory {
    font-size: 10px;
  }

  .newsWrap .newsList li a .newsTitle {
    margin-bottom: 12px;
    font-size: 13px;
  }

  .newsWrap .newsList li a .newsTopBox {
    margin-bottom: 16px;
  }

  .newsWrap .newsLoadMoreBtn {
    font-size: 16px;
  }

  .newsWrap .newsViewBox .newsViewHeaderBox .newsViewBackLink {
    font-size: 13px;
  }

  .newsWrap .newsViewBox .newsViewHeaderBox .newsViewCategory {
    padding: 1px 7px;
    font-size: 10px;
  }

  .newsWrap .newsViewBox .newsViewHeaderBox .newsViewDate {
    font-size: 10px;
  }

  .newsWrap .newsViewBox .newsViewTitle,
  .newsWrap .newsViewBox .newsViewHeaderBox {
    margin-bottom: 40px;
  }

  .newsWrap .newsViewBox .newsViewTitle {
    font-size: 13px;
  }

  .newsWrap .newsViewBox .newsViewContentBox .newsViewText {
    margin: 12px auto;
    font-size: 12px;
  }

  .newsWrap .newsViewBox .newsViewContentBox .newsViewSubTitle {
    font-size: 13px;
  }

  .newsWrap .newsViewBox .newsViewContentBox {
    margin-bottom: 40px;
  }

  .newsWrap .newsViewBox .newsViewNavBox {
    padding: 16px 0 0;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewNavLabel {
    font-size: 10px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewNavTitle {
    font-size: 13px;
  }

  .newsWrap .newsViewBox .newsViewNavBox .newsViewListLink {
    font-size: 16px;
  }

}